:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --transparent-black-color: #00000029;
    --blue-color: #08A6E4;
    --grey-color-100: #F7F7F7;
    --grey-color-200: #E8E9ED;
    --grey-color-300: #A5A5A5;
    --grey-color-400: #95989A;
    --grey-color-500: #707070;
    --blue-color-light: #07ACE629;
    --red-color: #FB3B64;
    --green-color: #55DFB4;
    --red-color-transparent: #F9043629;
    --black-color-v2: #13253B;
    --red-color-v2: #EB476E;
    --red-color-transparenter: #FF091129;

}