@use '../general/variables';
@use '../general/mixins';

.header {
  box-shadow: 0 3px 6px variables.$grey-color-300;
  position: sticky;
  top: 0;
  background-color: variables.$white-color;
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
  }



  &__logo {
    font: normal normal 300 32px/37px variables.$font-secondary;
    color: variables.$blue-color;
  }

  &__checkbox {
    display: none;
  }
  &__toggle {
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: variables.$blue-color;

    @include mixins.tablet {
      display: block;
    }
  }

  &__menu {
    display: flex;
    gap: 30px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font: normal normal bold 11px/15px "Open Sans";
      letter-spacing: 3.28px;
      color: variables.$grey-color-300;
      margin-right: 95px;

      &:hover {
        color: variables.$black-color;
        border-bottom: 4px solid variables.$blue-color;
        padding-bottom: 23px;
      }
    }
    @include mixins.tablet {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      background-color: variables.$white-color;
      color: variables.$blue-color;
      padding: 15px;
    }
  }
  .header__checkbox:checked ~ .header__menu {
    display: flex;
  }
}